# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db
.env

# Node / Next.js
node_modules/
.next/
out/
.env.local

# Runtime logs
*.log
k8s/backend-secret.yaml

# Editors / OS
.DS_Store
.vscode/
.idea/
